//@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

//@import '../../globalsass.scss';
@use '../../globalsass.scss' as *;

* {
    margin: 0;
    padding: 0;
}

.Navbar {
    position: sticky;
    top: 0;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    z-index: 1000;
    @include respond(lg) {
        padding: 0 50px;
    }
    &.light {
        background-color: white;
    }
    &.dark {
        background-color: black;
    }
    .navlinks {
        display: flex;
        gap: 1.5rem;
        position: relative;

        @include respond(md) {
            display: none;
        }
        span ,.link{
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 18px;
            @include font-nunito(500);
            cursor: pointer;
        }
        .dropdown {
            .dropdown-menu {
                position: absolute;
                left: 0;
                box-shadow: 5px 5px 10px black;
                top: 100%;
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 100%;
                &.light {
                    background-color: white;
                }
                &.dark {
                    background-color: black;
                }
            }
        }
    }

    .auth {
        display: flex;
        align-items: center;
        gap: 2rem;

        @include respond(md) {
            display: none;
        }

        p {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            font-size: 18px;
            @include font-poppins;
        }

        .carticon{
            font-size: 25px;
        }

        .icon {
            font-size: 25px;
        }
    }

    .menu {
        display: none;

        @include respond(md) {
            display: block;
        }

        .icon {
            font-size: 25px;
        }
    }
}