@use '../../globalsass.scss' as *;

.container {
    margin: 50px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        @include subHeading(black);
    }

    h1 {
        @include mainHeading(black);
        font-size: 45px;

        span {
            @include font-momosignature;
        }
    }

    .options {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap-reverse ;
        span {
            padding: 5px;
            @include font-nunito;
            font-weight: 600;
            font-size: 18px;
            cursor: default;

            &.active {
                background-color: rgba(0, 0, 0, 0.26);
                border-radius: 15px;
                padding: 5px 15px;
            }
        }
    }

    .products {
        display: flex;
        gap: 2rem;

        .product-grid {
            display: grid;
            grid-template-columns:repeat(4, minmax(220px, 1fr));
            gap: 1.5rem;
            width: 100%;

            @include respond(xxl) {
                grid-template-columns: repeat(3, minmax(220px, 1fr));
            }

            @include respond(xl) {
                grid-template-columns: repeat(2, minmax(220px, 1fr));
            }

            @include respond(md) {
                grid-template-columns: repeat(1, minmax(220px, 1fr));
            }
        }

        .card {
            width: 25%;
        }
    }
}