@use '../../globalsass.scss' as *;


.popup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.802);
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
        @include font-nunito(600);
        background-color: white;
        padding:30px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .btns{
            display: flex;
            gap: 1rem;
            button{
                @include Button;
            }
        }
    }
}